<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Features-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="/assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="/assets/css/untitled.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary portfolio-navbar gradient">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse navTop" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#aboutus">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#products">Products</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#brands">Brands</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#services">Services</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#contact">Contacts</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto ml-auto2">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#contact">Order a Call</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="tel:+77715452205">+77715452205</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="mailto:info@elctrogroup.kz">info@elctrogroup.kz</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="simple-slider" data-aos="zoom-in">
        <div id="imageContainer" class="container">
            <div id="logoImage"><img></div>
        </div>
        <div class="swiper-container container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(/assets/img/Slider/cables.jpg);"></div>
                <div class="swiper-slide" style="background: url(/assets/img/Slider/diesel-gen.jpg);"></div>
                <div class="swiper-slide" style="background: url(/assets/img/Slider/electrical.jpg);"></div>
                <div class="swiper-slide" style="background: url(/assets/img/Slider/pump.jpg);"></div>
                <div class="swiper-slide" style="background: url(/assets/img/Slider/surviallance.jpg);"></div>
                <div class="swiper-slide" style="background: url(/assets/img/Slider/ups.jpg);"></div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <h2 class="text-center heading-sec"><strong><a name="aboutus"></a>About «Electrogroup» LLP</strong><br></h2>
    <div class="features-blue container intro" data-aos="fade-up">
        <div class="container">
            <div class="intro">
                <p class="text-center text-mine">«ElectroGroup» LLP is a Procurement and Engineering Company, which supply goods and provide services in Oil &amp; Gas sector. Our company was established in west of Kazakhstan north side of Caspian sea in Mangystau province, Aktau city.
                    We conduct well-established industry expertise to assist for large projects in Caspian shore both offshore and onshore projects. Our Company follow international standards and procedures to establish safe work conditions, high quality
                    service and reliable supply. We are ISO 9001 (Quality Management Systems), ISO 14001 (Environmental Management Systems), OHSAS 18001 (OHS Management Systems) certified and have standardized document control system. What we Do?<br><br>1.
                    We supply goods including, but nit limited to spare parts, instruments, pumps, generators, power supplies, cables, surveillance systems, access control systems, UPSes, furniture, hand and powers tools, pipes. We appreciate any request
                    from our Clients and arrange fast and reliable logistics.<br><br>2. We provide mid-scale services for installation of any kind of power systems.As a fast developing Company we appreciate and eager to cooperate with any Company. Please
                    contact us for any kind of queries.<br><br></p>
            </div>
        </div>
    </div>
    <div class="photo-gallery" data-aos="fade-up">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong><a name="products"></a>Products «Electrogroup» LLP Supply</strong><br></h2>
            </div>
            <div class="row photos">
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Access_Control_Systems.jpg"><span class="under"><strong>Access Control Systems</strong><br></span><img class="img-fluid" src="/assets/img/Cats/Access_Control_Systems.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Batteries.png"><span class="under"><strong>Batteries</strong><br></span><img class="img-fluid" src="/assets/img/Cats/Batteries.png"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Cameras.jpg"><span class="under">CCTV Systems</span><img class="img-fluid" src="/assets/img/Cats/Cameras.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Control%20Panels.jpg"><span class="under">Control Panels</span><img class="img-fluid" src="/assets/img/Cats/Control%20Panels.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Converters.jpg"><span class="under">Converters</span><img class="img-fluid" src="/assets/img/Cats/Converters.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Electrical%20Cables.jpg"><span class="under">Cables</span><img class="img-fluid" src="/assets/img/Cats/Electrical%20Cables.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Electrical%20Control%20and%20Monitoring%20System.jpg"><span class="under">Electrical Control and Monitoring&nbsp;</span><img class="img-fluid" src="/assets/img/Cats/Electrical%20Control%20and%20Monitoring%20System.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Engines.jpg"><span class="under">Engines</span><img class="img-fluid" src="/assets/img/Cats/Engines.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Fans.jpg"><span class="under">Fans</span><img class="img-fluid" src="/assets/img/Cats/Fans.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Generators.jpg"><span class="under">Generators</span><img class="img-fluid" src="/assets/img/Cats/Generators.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Heat%20Tracing%20Systems.png"><span class="under">Heat Tracing Systems</span><img class="img-fluid" src="/assets/img/Cats/Heat%20Tracing%20Systems.png"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/IT%20Application%20Maintenance.jpg"><span class="under">IT Applications Maintenance</span><img class="img-fluid" src="/assets/img/Cats/IT%20Application%20Maintenance.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Lighting%20Systems.jpg"><span class="under">Lighting Systems</span><img class="img-fluid" src="/assets/img/Cats/Lighting%20Systems.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Lube%20Oils.png"><span class="under">Lube Oils</span><img class="img-fluid" src="/assets/img/Cats/Lube%20Oils.png"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Motors.jpg"><span class="under">Motors</span><img class="img-fluid" src="/assets/img/Cats/Motors.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Piping.jpeg"><span class="under">Piping</span><img class="img-fluid" src="/assets/img/Cats/Piping.jpeg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Power%20Distribution%20Boards.jpg"><span class="under">Power Distribution Boards</span><img class="img-fluid" src="/assets/img/Cats/Power%20Distribution%20Boards.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Protective%20Work%20Clothing.jpg"><span class="under">Protective Work Clothing</span><img class="img-fluid" src="/assets/img/Cats/Protective%20Work%20Clothing.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Pumps.jpg"><span class="under">Pumps</span><img class="img-fluid" src="/assets/img/Cats/Pumps.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Rectifiers.jpg"><span class="under">Rectifiers</span><img class="img-fluid" src="/assets/img/Cats/Rectifiers.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Telecommunications%20System.jpg"><span class="under">Rectifiers</span><img class="img-fluid" src="/assets/img/Cats/Telecommunications%20System.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Tools.jpg"><span class="under">Tools</span><img class="img-fluid" src="/assets/img/Cats/Tools.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/Transformers.jpg"><span class="under">Transformers</span><img class="img-fluid" src="/assets/img/Cats/Transformers.jpg"></a></div>
                <div data-aos="slide-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/Cats/ups.jpg"><span class="under">Uninterruptible power supply<br><br></span><img class="img-fluid" src="/assets/img/Cats/Ups.jpg"></a></div>
            </div>
        </div>
    </div>
    <div class="photo-gallery" data-aos="fade-down">
        <div class="container">
            <div class="intro">
                <h2 class="text-center"><strong><a name="brands"></a>BRANDS WE</strong>&nbsp;SUUPLY<br></h2>
            </div>
            <div class="row photos">
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>3M</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/3M.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>ABB</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/ABB.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>BAHCO</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/bahco.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>BITZER</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Bitzer.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>CATERPILLAR</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Caterpillar.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>CUMMINS</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Cummins.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>DELTA-PLUS</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Delta-Plus.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>EAE</strong>&nbsp;<strong>ELEKTRIK</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/EAE.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>EATON</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Eaton.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>FRER</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/frer.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>GENERAL</strong>&nbsp;<strong>ELECTRIC</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/General%20Electric.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>IEK</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/IEK.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>INFORM&nbsp;LEGRAND</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Inform%20Legrand.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>KIMBERLY-CLARK</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Kimberly-Clark.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>LOWARA</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Lowara.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>NEXANS</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Nexans.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>OSRAM</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/OSRAM.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>PHILIPS</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Philips.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>PRYSMIAN</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Prysmian.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>RAYCHEM</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Raychem.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>SCHNEIDER</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Schneider.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>SIEMENS</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Siemens.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>SNAP-ON</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/snap-on.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>SOCOMEC</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Socomec.png"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>THOMAS&nbsp;AND BELTS</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Thomas%20and%20Betts.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 brand-box"><a><span class="brands-txt"><strong>TRIDONIC</strong><br></span><img class="img-fluid brands" src="/assets/img/brands/Tridonic.png"></a></div>
            </div>
        </div>
    </div>
    <h2 class="text-center heading-sec" data-aos="flip-up"><strong><a name="services"></a>Services we provide</strong><br></h2>
    <div class="features-blue container intro" data-aos="flip-up">
        <div class="container">
            <div class="intro">
                <p class="text-center text-mine">“ElectroGroup” LLP have expertise for installation and maintenance of power systems, access control systems, CCTV systems, electrical control and monitoring systems, telecommunications systems. <br><br>Our company supply qualified personnel
                    man hours to provide well established industrial practices for any complicated projects.<br></p>
            </div>
        </div>
    </div>
    <div class="photo-gallery">
        <div class="container">
            <div class="row photos">
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3"><a data-lightbox="photos" href="/assets/img/services/1-1.jpg"><img class="img-fluid" src="/assets/img/services/1-1.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/services/3-sf.jpg"><img class="img-fluid" src="/assets/img/services/3-sf.jpg"></a></div>
                <div data-aos="fade-up" class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos" href="/assets/img/services/2-1.jpg"><img class="img-fluid" src="/assets/img/services/2-1.jpg"></a></div>
            </div>
        </div>
    </div>
    <h2 data-aos="zoom-in" class="text-center heading-sec"><strong><a name="contact"></a>Contacts</strong><br></h2>
    <div data-aos="zoom-in" class="container intro">
        <div class="container">
            <div>
                <p class="text-contact">Republic of Kazakhstan, 130000, Mangystau region, Aktau city, 2 micro district, building 47b, BC “Sunkar”, office 225-226.<br><br>Tel:&nbsp;<span style="text-decoration: underline;">+7 702 360 9942</span><br><br>email:&nbsp;<a href="mailto:info@electrogroup.kz">info@electrogroup.kz</a>;&nbsp;&nbsp;
                    <a
                        href="mailto:sales@electrogroup.kz">sales@electrogroup.kz</a><br><br></p>
            </div>
        </div>
    </div>
    <div data-aos="zoom-in" class="contact-clean container">
        <form method="post" action="/">
            <h2 class="text-center">Contact us</h2>
            <div class="form-group message"><textarea class="form-control" placeholder="Message" name="message" rows="14"></textarea></div>
            <div class="form-group"><input class="form-control name" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control tel" type="tel" name="telephone"placeholder="+77715452205"></div>
            <div class="form-group"><input class="form-control email" type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">"Electrogroup" LLP 2020</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="/assets/js/Simple-Slider.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>